.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 800px) {
  .App-title {
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
  }
  div .App-subtitle {
    display:block;
  }    
  .App-button-nav{
    display: inline;
  }
  .App-subtitle{
    margin-bottom: 0px !important;
  }
  .header-logo-container{
    display: none;
  }
  .title-and-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width:800px) {
  .App-button-nav{
    display: none;
  }
  .header-logo-container{
    display: inline;
  }
  .title-and-subtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (max-width: 350px) {
  .App-title-surname{
    display:none;
  }
  
  .App-button-nav{
    bottom: 3px !important;
  }
}

.App-header {
  background-color: var(--themecolour-d2);
  /*background-image: linear-gradient(20deg, #653815,#b96627,#da8b4e,#e6b189,#b96627,#653815);*/
  padding: calc(0.1rem + 2vmin);
  /*background-position: center;
  background-image: url(../Images/texture-1027812_640.jpg);
  background-repeat:repeat;*/
}

.header-logo-container{
  height: 100%;
  margin: 0.5em;
}

.header-logo{
  display: inline;
  width: 3em;
  height: 3em;
  padding: 0.2em;
  border-radius: 5px;
  box-shadow: 0 0 0 0.15em var(--themecolour-l4);
  margin-right: 10px;
}

.App-title {
  display: inline;
  font-size: calc(15px + 3vmin);
  color: var(--themecolour-l5);
  margin: 20px 0px 20px 0px;
  /*margin-right: calc(10px + 5vw);*/
  text-align: center;
}

.App-title-surname{
  color: var(--lightgreenfullopacity);
}

.App-subtitle {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: var(--lighttextsub);
  margin: 1px 5px 10px 5px;
}

.App-nav-header {
    display:flex;
}

.App-button-nav{
  width:25px;
  height:25px;
  background-color: var(--themecolour-d2);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 3vmin);
  color: var(--themecolour-l5);
  margin: 0.1em;
  padding: 0;
  position: relative;
  right:10px;
  bottom: 1vh;
  font-size: 17px;
  border: 0;
  border-radius: 0.1em;
  box-shadow: 0 0 0 0.12em var(--themecolour-l5);
}

.App-button-nav:hover, .App-button-nav:focus{
  background-color: var(--themecolour-l3);
}

.App-header-wrapper{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
