.app-content-wrapper {
  background-color: var(--primarycolour-l5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.75em + 1vmin);
  color: var(--primarycolour-d6);
}

/*
*
* Responsive Layouts
*
*/  

.medium-col{
  max-width: 700px;
}

.large-col{
  max-width: 900px;
}

.content {
  min-height: 100vmin;
  margin-right: auto;
  margin-left: auto; 
  padding: min(1em, 3vmin);
}

.contentWrapper{
  max-width: 700px;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
}

.card-container-gallery{
  width:inherit;
  margin-left: auto;
  margin-right: auto;
  /*max-height: 170vmin;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*grid-template-rows: 1fr 1fr ;*/
  grid-gap: min(1em, 3vmin) min(1em, 3vmin);
}

/*
*
* Article formatting
*
*/

.cover-image{
  width: 100%;
  height:auto;
}

.article-date-and-tags{
  padding: 5px 0px;
}

.article-date{
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-top: 5px;
  color: var(--dategrey);
}

.card-tag-container-tagpage{
  display: flex;
  flex-wrap: wrap;
}

.card-tag-link{
  margin: 4.5px 0px;
}

/*
*
* Page navigation buttons
*
*/

.posts-navigation-container{
  display: flex;
  justify-content: flex-end;
  margin: 1em 1em 0em 1em;
}

.posts-navigation-button{
  padding: 0.4em 0.8em;
  display: inline;
  color: var(--primarycolour-l5);
  background-color: var(--secondarycolour-l0);
  border-left: 0.15em solid var(--primarycolour-l5);
  border-right:0;
  border-top: 0;
  border-bottom: 0;
  font-size: 0.8em;
}

.posts-navigation-button:hover{
  color: var(--primarycolour-d4);
  background-color: var(--secondarycolouroverlay);
}

.posts-navigation-button:first-child {
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
  border-left: 0;
}

.posts-navigation-button:last-child {
  border-left: 0.15em solid var(--primarycolour-l5);
  border-radius: 0px 5px 5px 0px;
  border-right: 0;
}

/*
*
* Home Page Style
*
*/

.card-container{
  width:inherit;
  margin-left: auto;
  margin-right: auto;
  /*max-height: 170vmin;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  /*grid-template-rows: 1fr 1fr ;*/
  grid-gap: min(1em, 3vmin) min(1em, 3vmin);
}

.intro-container{
  /*background-color: var(--primarycolour-l4);*/
  background-image: linear-gradient(10deg, var(--primarycolour-l3), var(--primarycolour-l4));
  max-width: 55%;
  padding: calc(0.3em + 1vmin);
  border-radius: 5px;
  margin-left: auto;
  height: 100%;
  align-self: center;
  font-size: calc(0.5em + 1.5vmin);
  align-content: center;
  opacity: 0.92;
}

.social-media-icon-container a{
  width: 1.3em;
}

.social-media-icon-container img{
  height: 1.2em;
  margin: 0.2em;
}

.blog-intro{
  min-width: 240px;
  min-height: 40vh;
  border-radius: 5px;
  width:inherit;
  background-position: center;
  background-image: url(../Images/large_profilepicv3_81bd297485.jpg);
  background-size: cover;
  padding: min(1em, 3vmin);
  padding-right: min(2em, 3vmin);
  display: flex;
  animation: 0.3s fadeIn both ease-in; 
}

.profile-pic{
  border-radius: inherit;
  width: 100%;
}

.blog-postlist-title{
  margin-left: 5px;
  margin-block-start: 10px;
  margin-block-end: 15px;
  display: flex;
  justify-self: start;
}

.card-readmore{
  margin: 12px 8px 5px 5px;
  display: flex;
  justify-content: flex-end;
  color: var(--primarycolour-d4);
}

.card-readmore a{
  background: 
    linear-gradient(var(--secondarycolour-l0), var(--secondarycolour-l0)),
    linear-gradient(var(--secondarycolour-l0), var(--secondarycolour-l0));
  background-size: 0 0.15em, 0 0.15em;
  background-position: 0% 100%, 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.card-readmore a:hover,
.card-readmore a:focus {
  background-size: 0 0.15em, 88% 0.15em;
}

/*
* 
* Contact Page Style
*
*/

.contact-right {
  margin-top: 0.5em;
}

.contact-form-card {
  /*background-color: var(--primarycolour-l3);*/
  background-image: linear-gradient(10deg, var(--primarycolour-l3), var(--primarycolour-l4));
  padding: 15px;
  border-radius: 5px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: left;  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.contact-container {
  display: grid;
  grid-gap: 0 min(0.8em, 2vmin);
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .contact-container{
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width:768px) {
  .contact-container{
    grid-template-columns: 5fr 4fr;
  } 
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-inputs input[type=text], .form-inputs textarea {
  border-radius: 5px;
  border: 0;
  color: var(--primarycolour-d4);
  background: 
    linear-gradient(var(--secondarycolour-l0), var(--secondarycolour-l0)),
    linear-gradient(var(--secondarycolour-l0), var(--secondarycolour-l0));
  background-size: 0 0, 0 0.3em;
  background-position: 0% 100%, 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

input[type=text].red-underline , textarea.red-underline {
  background: linear-gradient(var(--errorcolor), var(--errorcolor));
  background-size: 100% 0.3em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

input[type=text].red-underline:focus, textarea.red-underline:focus {
  background-size: 100% 0.3em !important;
}

.form-inputs input[type=text]:focus, .form-inputs textarea:focus {
  outline: none;
  background-size: 0 0, 100% 0.3em;
}

.form-inputs input[type=text]:focus {
  min-height: 2em;
}

.form-inputs input[type=text] {
  min-height: 1.7em;
  margin-bottom: 0.2em;
  background-color: var(--primarycolour-l5);
}

.form-inputs textarea {
  min-height: 15em;
  margin-bottom: 0.2em;
  background-color: var(--primarycolour-l5);
  resize: none;
  font-family: inherit;
}

.form-inputs label {
  color: var(--primarycolour-d4);
  margin: 0px 0px;
  display: flex;
  align-items: center;
}

.form-inputs p {
  color: var(--primarycolour-d4);
  font-weight: bold;
  margin: 5px 0px;
}

@keyframes shake {
  0% { transform: translate(1em, 0px); }
  100% { transform: translate(-0.5em, 0px);}
}

.form-inputs span {
  color: var(--primarycolour-l5);
  font-size: 0.8em;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s ease-in infinite alternate-reverse;
}

.form-submit-container{
  display: flex;
  margin-top: 5px;
  justify-content: flex-end;
}

.submit-message{
  font-size: 0.8em;
}

.form-inputs input[type=button] {
  max-width: 150px;
  border-radius: 5px;
  border: 0;
  margin-left: 15px;
  padding: 6px 15px 6px 15px;
  color: var(--primarycolour-l5);
  background-color: var(--primarycolour-d1);
  font-size: calc(0.6rem + 1.1vmin);
  flex-basis:5em;
}

.form-inputs input[type=button]:hover {
  background-color: var(--primarycolour-l4);
  color: var(--primarycolour-d3);
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--primarycolour-l3);
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: left;  
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-body {
  margin: 5px 0px 5px 0px;
  text-overflow: ellipsis;
  font-size: calc(0.6rem + 1.1vmin);
}

/*
*
* TagPage Style
*
*/

.card-tag-container-tagpage{
  display: flex;
  flex-wrap: wrap;
}