.nav-dropdown-container {
  margin: 0 auto 0 auto;
  padding: 0em 5vw;
  padding-bottom: 0.4em;
}

.nav-dropdown {
  background-color: var(--primarycolour-d2);
  padding: 0;
  color: var(--primarycolour-l5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media only screen and (min-width: 425px) {
  .nav-dropdown {
    justify-content: center;
  }
}

.nav-button {
  background-color: inherit;
  color: var(--primarycolour-l6);
  font-size: 1em;
  border: 0;
  text-align: left;
}

.nav-link {
  padding: 0;
}

.nav-link:hover {
  color: var(--secondarycolour-l1);
}

.nav-icon {
  padding: 0em 0.3em;
}