.footer {
  background-color: var(--primarycolour-d2);
  color: var(--primarycolour-l5);
  padding: 0.5em;
}

.footer-copyright {
  margin: 0;
  padding: 0.5em;
}

.footer-nav-dropdown-container {
  margin: 0 auto 0 auto;
  padding: 0.5em;
}