.footer {
  background-color: var(--primarycolour-d2);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.75rem + 0.9vmin);
  color: var(--primarycolour-l5);
}

.footer-copyright{
  margin: 0;
  margin-bottom: 0.2em;
  margin-top: 1em;
}