.footer {
  background-color: var(--primarycolour-d2);
  color: var(--primarycolour-l5);
  padding: 0.5em;
}

.footer-nav {
  margin: 0 auto 0 auto;
  padding: 0em 5vw;
  padding-bottom: 0.4em;
  font-size: 0.95em;
}

.footer-copyright {
  margin: 0;
}